# App
NODE_ENV=development
PORT=4791

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/online_talim?schema=public"

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRES=7d

# Redis (kelajakda navbatlar uchun)
REDIS_HOST=localhost
REDIS_PORT=6379

# Standart admin (npm run db:seed yaratadi)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@admin.com
